<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dqfnwh89v/image/upload/v1724408615/qxvvfcf7ftgklhl2k03v.png">

        <link rel="stylesheet" href="/css/playlist.css" />
    <link rel="stylesheet" href="/css/teams.css" />
    <link rel="stylesheet" href="/css/screen.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        .password-toggle {
            cursor: pointer;
        }
        
    </style>
</head>

<body>


    <%- include('Dashboard') %>
        <div class="teams">
            <div class="home-playlist">
                <p>Home><b>Teams</b></p>
            </div>
    


            <div class="member">
                <div class="members">
                    <a href="/admin/users">Members</a>
                </div>
                <div class="New-members">
                    <a href="/Dashboard/Teams/Addmember">New Member</a>
                </div>
                <div class="Logs">
                    <a href="/admin/logs">Logs</a>
                </div>
            </div>
                     





            <div class="container">

                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        // Check if there are any error or success messages
                        var error_msg = '<%= error_msg %>';
                        var success_msg = '<%= success_msg %>';
                
                        if (error_msg) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error!',
                                text: error_msg,
                                showConfirmButton: true
                            });
                        }
                
                        if (success_msg) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success!',
                                text: success_msg,
                                showConfirmButton: true
                            });
                        }
                    });
                </script>



                            <div class="mainData">

                                <div class="member-form">





                                    <form action="/admin/users/<%= user.id %>/edit" method="POST">
                                        <div class="form">
                                            <div class="formdata">
                                                <label for="name">Name:</label>
                                                <input type="text" class="form-control" id="name" name="name"
                                                    value="<%= user.name %>" required>
                                            </div>
                                            <div class="formdata">
                                                <label for="email">Email:</label>
                                                <input type="email" class="form-control" id="email" name="email"
                                                    value="<%= user.email %>" required>
                                            </div>
                                            <div class="formdata">
                                                <label for="role">Role:</label>
                                                <select style="padding: 11px 10px;" id="role" name="role" required>
                                                    <option value="admin" <%=user.role==='admin' ? 'selected' : '' %>
                                                        >Admin</option>
                                                    <option value="editor" <%=user.role==='editor' ? 'selected' : '' %>
                                                        >Editor</option>
                                                    <option value="viewer" <%=user.role==='viewer' ? 'selected' : '' %>
                                                        >Viewer</option>
                                                </select>
                                            </div>
                                            <div class="formdata">
                                                <label for="current-password">Current Password:</label>
                                                <div class="input-group">
                                                    <input type="password" class="form-control" id="current-password"
                                                        name="currentPassword" placeholder="Enter current password">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text password-toggle"
                                                            onclick="togglePassword('current-password')">
                                                            <i class="fas fa-eye"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="formdata">
                                                <label for="new-password">New Password:</label>
                                                <div class="input-group">
                                                    <input type="password" class="form-control" id="new-password"
                                                        name="newPassword" placeholder="Enter new password">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text password-toggle"
                                                            onclick="togglePassword('new-password')">
                                                            <i class="fas fa-eye"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="formdata">
                                                <label for="confirm-new-password">Confirm New Password:</label>
                                                <div class="input-group">
                                                    <input type="password" class="form-control"
                                                        id="confirm-new-password" name="confirmNewPassword"
                                                        placeholder="Confirm new password">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text password-toggle"
                                                            onclick="togglePassword('confirm-new-password')">
                                                            <i class="fas fa-eye"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button style="

                                            color: #fffefe;
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: center;
                                            align-items: center;
                                            padding: 2px 10px;
                                            gap: 9px;
                                            
                                            margin: 0 auto;
                                            width: 80%;
                                            height: 40px;
                                            
                                            background: #0D6EFD;
                                            border-radius: 12px;
                                            
                                            /* Inside auto layout */
                                            flex: none;
                                            order: 4;
                                            flex-grow: 0;
                                            " type="submit" class="btn btn-primary">Update User</button>
                                        </div>
                                    </form>

                                </div>

                                    <div class="table1">
                                        <table>
                                            <thead>
                                              <tr>
                                                <th>PERMISSIONS</th>
                                                <th>CREATE</th>
                                                <th>VIEW</th>
                                                <th>UPDATE</th>
                                                <th>DELETE</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>Screen</td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                              </tr>
                                              <tr>
                                                <td>Playlist</td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                              </tr>
                                              <tr>
                                                <td>Library</td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                              </tr>
                                              <tr>
                                                <td>Reports</td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                              </tr>
                                              <tr>
                                                <td>Logs</td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div> 
                                     
                                    </div> 


                                </div>



            </div>


            <script>
                function togglePassword(fieldId) {
                    var field = document.getElementById(fieldId);
                    var fieldType = field.getAttribute('type');
                    if (fieldType === 'password') {
                        field.setAttribute('type', 'text');
                    } else {
                        field.setAttribute('type', 'password');
                    }
                }
            </script>
</body>

</html>