<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/groupScreen.css" />
</head>

<body>
  <div class="group">
    <div class="header">

      <div class="group-screen">
        <p>Home > <b>Group Screen</b></p>
      </div>
      <div class="group-screen-btn">
        <button onclick="goBack()">Go Back</button>
        <button onclick="saveGroup()">Save Group</button>
      </div>
    </div>

    <div class="create-group">
      <div class="form-class">
        <label>Group Name</label>
        <input type="text" name="groupName" value="<%= group.group_name || '' %>" required />
      </div>
      <div class="form-class">
        <label>Group Description</label>
        <input type="text" name="description" value="<%= group.group_description || '' %>" required />
      </div>
    </div>
    <div class="heading">
      <h3>Select Screens to Create Group</h3>
      <h3>Selected Screen</h3>
    </div>
    <div class="selection-screens">
      <div class="select-screen">
        <table>
          <thead>
            <tr>
              <th></th>
              <!-- <th>PAIRING CODE</th> -->
              <th>SCREEN NAME</th>
              <th>SCREEN TAG</th>
              <th>SCREEN LOCATION</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody>
            <% if (screens && screens.length) { %>
              <% screens.forEach(screen=> { %>
                <tr>
                  <td><input type="checkbox" name="checkbox" id="checkbox" onclick="selectScreen(this)" <%=
                    group.selectedscreens.some(selected => selected.screenname === screen.screenname) ? 'checked' : ''
                  %>></td>
                  <td style="display: none;">
                    <%= screen.pairingcode %>
                  </td>
                  <td>
                    <%= screen.screenname %>
                  </td>
                  <td>
                    <%= screen.tags %>
                  </td>
                  <td>
                    <%= screen.location %>
                  </td>
                  <td>
                    <%= screen.deleted ? 'Offline' : 'Online' %>
                  </td>
                </tr>
                <% }) %>
                  <% } else { %>
                    <tr>
                      <td colspan="5">No screens found</td>
                    </tr>
                    <% } %>
          </tbody>
        </table>
      </div>
      <div class="selected-screen">

        <table id="selectedScreensTable">
          <thead>
            <tr>
              <th>SR.NO</th>
              <th>SCREEN NAME</th>
              <th>SCREEN TAG</th>
              <th>SCREEN LOCATION</th>
            </tr>
          </thead>
          <tbody>
            <% if (group.selectedscreens) { %>
                <% group.selectedscreens.forEach((group,index)=> { %>
                  <tr>
                    <td>
                      <%= index+1 %>
                    </td>
                    <td>
                      <%= group.screenname %>
                    </td>
                    <td>
                      <%= group.tags %>
                    </td>
                    <td>
                      <%= group.location %>
                    </td>
                   
                  </tr>
                  <% }) %>
                    <% } %>
          </tbody>
        </table>
      </div>
    </div>

  </div>


  <script src="/javaScripts/groupScreenEdit.js"></script>
</body>

</html>